.note {
  display: flex;
  flex-wrap: nowrap;
  padding: 4px;
  margin-bottom: 8px;
  box-shadow: var(--common-box-shadow);
}

.note:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.note .note--created-at {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: default;
}

.note .note--created-at .note--created-at--date {
  margin: auto;
  font-size: 20px;
  color: coral;
}

.note .note--created-at .note--created-at--month {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
  margin: auto;
}

.note .note--title {
  flex: 1 1 100%;
  font-size: 18px;
  line-height: 1.5em;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
  cursor: pointer;
}
