.note {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.note .date {
  width: 25%;
  color: coral;
  text-align: right;
}

.note .title {
  flex: auto;
  font-size: 18px;
  margin-bottom: 8px;
}

.note .content {
  display: inline-block;
  flex-basis: 100%;
  color: darkgray;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}