.header {
  height: 48px;
  margin-bottom: 12px;
  border-bottom: var(--common-border);
  padding: 4px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header .clock {
  margin-left: auto;
}

.header .logo {
  height: 100%;
  margin-right: 8px;
}