.nav-tab .nav-tab--header {
  display: flex;
}

.nav-tab .nav-tab--header .nav-tab--name {
  border: 1px solid transparent;
  padding: 12px 12px 8px 12px;
  cursor: pointer;
}

.nav-tab .nav-tab--header .nav-tab--name.active {
  border: 1px solid;
  border-bottom: 0;
}