@import-normalize;

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --common-highlight-color: rgba(255, 127, 80, 1);
  --common-border-color: rgba(118, 118, 118, 1);
  --common-border: 1px solid var(--common-border-color);
  --common-background-color: rgba(255, 255, 255, 0.9);
  --common-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  font-family: var(--default-font-family);
}

/* layout mobile */
.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  min-width: 375px;
  max-width: 786px; /* tmp */
  margin: 0 auto;
}

.app > .header {
  width: 100%;
}

.app > .list-notes {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app > .new-note {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 48px;
  height: 48px;
}
